.nopadding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.threefold-slider {
	background-color: #333;
	margin-bottom: 25px;
	overflow: hidden;
}
.threefold-slider .each {
	overflow: hidden;
	position: relative;
	text-align: center;
}
.threefold-slider.full-slider img {
	max-width: 1350px;
}
.threefold-slider .each img {
	margin: 0 auto;
	max-width: 700px;
	width: 100%;
}
.threefold-slider .each .desc {
	background: url( '../images/overlay50.png' );
	bottom: 0;
	color: #ffffff;
	padding: 15px;
	opacity: 0.5;
	position: absolute;
	transition: all .20s ease-in-out;
	-moz-transition: all .20s ease-in-out;
	-webkit-transition: all .20s ease-in-out;
	text-align: left;
	width: 100%;
}
.threefold-slider .each:hover .desc {
	opacity: 1;
}
.threefold-slider .each .desc .categoria {
	font-size: 0.8em;
	text-transform: uppercase;
}
.threefold-slider .each .desc .content {
	clear: both;
	display: block;
	font-size: 1.5em;
}